*{
    margin: 0;
}

.navbar{
    height: 80px;
}

.navbar-bg-color{
    background: yellow;
    /*background: linear-gradient(90deg, yellow 68%, lightgray 100%);*/
}

.logo{
    height: 50px;
    padding-left: 10px;
}

.fondoIndex{
    height: 81vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to right, transparent, white),
    url("../img/fondo2.jpg");
    background-position: center;
    background-size: cover;
}

.backg{
    height: 80vh;
    width: 100%;
    position: absolute;
}

.backg__img{
    z-index: -1;
    opacity: 50%;
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

.slogan{
    position: relative;
    left: 50%;
    top: 30%;
    height: auto;
    width: 550px;
    /*background-color: white;*/
    padding: 10px;
    border-radius: 20px;
}

.slogan p{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

footer{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    margin: 0;
}

footer div{
    padding: 10px;
    width: 33.33%;
}

.redes{
    display: flex;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: right;
}

.logoInsta{
    width: 30px;
}


/*About us*/

.portadaAboutus{
    height: 81vh;
    width: 100%;
    display: flex;
}

.portadaAboutus section{
    width: 50%;
}

.story{
    padding: 10px;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.story{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.story p {
    width: 80%;
}

.imgStory{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imgStory img{
    width: 80%;
    /*border-radius: 10%;*/
    box-shadow: 13px 10px 5px 0px gray;
}